$main-bg-color: #ffffff55;
$font-font-size:30px;
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  background-color: black;
  display: flex;
}
button{
    
  &:hover{
    transform: scale(1.1);
}
}
button,
input {
  display: block;
  border-style: none;
  font-size: $font-font-size;
  border-radius: 10px;
  transition-duration: .5s;
  cursor: pointer;
  color: white;
  padding: 10px;


}

.calculator {
  width: 400px;
  border: 1px solid white;
  margin: auto;
  padding: 10px;
  .input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: white;
    padding: 10px;
    text-align: right;


    input {
      width: 74.6666666%;
      height: 100px;
      background-color: $main-bg-color;
    }
    button {
      width: 24%;
      height: 100px;
      background-color: red;
      color: white;
    }
  }
  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    .button {
      width: 24%;
      margin-bottom: 5px;
      height: 80px;
      background-color: $main-bg-color;
      border-radius: 10px;
      color: white;
    }
  }
}
